- has_project_shortcut_buttons = !current_user || current_user.project_shortcut_buttons
- show_auto_devops_callout = show_auto_devops_callout?(@project)

%aside.project-page-sidebar
  .project-page-sidebar-block.home-panel-home-desc.gl-py-4.gl-border-b.gl-border-gray-50{ class: 'gl-pt-2!' }
    .gl-display-flex.gl-justify-content-space-between
      %h2.gl-font-base.gl-font-weight-bold.gl-reset-line-height.gl-text-gray-900.gl-m-0.gl-mb-1= s_('ProjectPage|Project information')
      -# Project settings
      - if can?(current_user, :admin_project, @project)
        = render Pajamas::ButtonComponent.new(href: edit_project_path(@project),
          category: :tertiary,
          icon: 'settings',
          size: :small,
          button_options: { class: 'has-tooltip gl-ml-2 gl-sm-mr-3', title: s_('ProjectPage|Project settings'), 'aria-label' => s_('ProjectPage|Project settings'), 'data-testid': 'project-settings-button' })
    -# Project description
    - if @project.description.present?
      .home-panel-description.text-break
        .home-panel-description-markdown.read-more-container{ itemprop: 'description', data: { 'read-more-height': 320 } }
          .read-more-content.read-more-content--has-scrim
            = markdown_field(@project, :description)
          .js-read-more-trigger.gl-display-none.gl-w-full.gl-h-8.gl-absolute.gl-bottom-0.gl-z-index-2.gl-bg-white
            = render Pajamas::ButtonComponent.new(variant: :link, button_options: { 'aria-label': _("Expand project information") }) do
              = sprite_icon('chevron-down', size: 14)
              = _("Read more")

    -# Topics
    - if @project.topics.present?
      .gl-mb-5
        = render "shared/projects/topics", project: @project

    -# Programming languages
    - if can?(current_user, :read_code, @project) && @project.repository_languages.present?
      .gl-mb-2{ class: [('gl-mb-4!' if @project.badges.present?), ('gl-mt-3' if !@project.description.present?)] }
        = repository_languages_bar(@project.repository_languages)

    -# Badges
    - if @project.badges.present?
      .project-badges.gl-mb-2{ data: { testid: 'project-badges-content' } }
        - @project.badges.each do |badge|
          - badge_link_url = badge.rendered_link_url(@project)
          %a.gl-mr-3{ href: badge_link_url,
            target: '_blank',
            rel: 'noopener noreferrer',
            data: { testid: 'badge-image-link', qa_link_url: badge_link_url } }>
            %img.project-badge{ src: badge.rendered_image_url(@project),
              'aria-hidden': true,
              alt: 'Project badge' }>

  -# Invite members
  - if @project.empty_repo?
    .project-page-sidebar-block.gl-py-4.gl-border-b.gl-border-gray-50
      = render "invite_members_empty_project" if can_admin_project_member?(@project)

  -# Buttons
  - if can?(current_user, :read_code, @project) && !@project.empty_repo?
    .project-page-sidebar-block.gl-py-4.gl-border-b.gl-border-gray-50
      %nav.project-stats
        = render 'stat_anchor_list', anchors: @project.statistics_anchors(show_auto_devops_callout: show_auto_devops_callout)

  -# Buttons
  - if has_project_shortcut_buttons
    .project-page-sidebar-block.gl-py-4
      .project-buttons.gl-mb-2.js-show-on-project-root{ data: { testid: 'project-buttons' } }
        - if @project.empty_repo?
          = render 'stat_anchor_list', anchors: @project.empty_repo_statistics_buttons, project_buttons: true
        - else
          = render 'stat_anchor_list', anchors: @project.statistics_buttons(show_auto_devops_callout: show_auto_devops_callout), project_buttons: true
